@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    color: #5f5f5f;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 30px;
    margin-right: 15px;
    display: block;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding: 5px;
    position: relative;
}

.navbar-center ul li a img {
    width: 30px;
}

.navbar-center ul li a::after {
    content: '';
    width: 00%;
    height: 2px;
    background: #04C35C;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after {
    width: 100%;
}

.online {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-profile-img {
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.search-box {
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.search-box img {
    width: 14px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}

.button-title-vaga {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.vagas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.vagas {
    width: 50vw;
    height: 200px;
    border: solid 1px black;
    margin-top: 20px;
    padding: 10px;
}

.vaga-detalhes {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.detalhes {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    margin-top: 5px;
}

.detalhes img {
    width: 22px;
    margin-right: 5px;
}

.vaga-info {
    display: flex;
    justify-content: space-between;
}

.vaga-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.vagas-container {
    flex-direction: column;
}

.content-candidatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.btn-candidatar {
    width: 120px;
    height: 50px;
    border: solid 2px #04C35C;
    color: #04C35C;
    transition: transform 0.3s ease;
}

.btn-candidatar:hover {
    background-color: #04C35C;
    color: #ffffff;
    transform: translateY(-5px);
}

.btn-gerenciar {
    width: 120px;
    height: 50px;
    border: solid 2px #a3a3a3;
    color: #000000;
    transition: transform 0.3s ease;
}

.btn-gerenciar:hover {
    background-color: #ccc;
    transform: translateY(-5px);
}

.btn-cancelar {
    width: 120px;
    height: 50px;
    border: solid 2px #ce3f3f;
    color: #ce3f3f;
    transition: transform 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #ce3f3f;
    color: #ffffff;
    transform: translateY(-5px);
}


.content-candidatar p {
    font-size: 14px;
}

.text-green {
    color: #04C35C;
}

.link-feedback {
    color: #2B6CB0;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.link-feedback:hover {
    opacity: 0.8;
}

.status-aprovado {
    color: #04C35C;
}

.status-reprovado {
    color: #E63946;
}

.content-status {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.canditatura-feedback {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.sair {
    color: #f63026;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.container-atualizar {
    display: flex;
    justify-content: center;
}

.content-atualizar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 50vw;
    margin-top: 20px;
}

.atualizar {
    transition: transform 0.3s ease;
}

.atualizar:hover {
    transform: translateY(-5px);
}
